.hidden {display: none}

#header {

}

#container {
    max-width: 900px;
    margin: 2em auto;
}

#input-container {
    width: 480px;
    margin: auto;
}

#input-text {
    width: 400px;
}

.input-line {
    margin-top: 0.5em;
}

#text-input {
    font-size: 2em;
}


#results-info {
    text-align: center;
}

#results-container {
    display: table;
    width: 100%;
    margin-top: 2em;
}

/* tooltips */

.ui-tooltip {
    border-radius: 5px;
    background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	padding: .3em;
	position: absolute;
	z-index: 9999;
}

.ui-helper-hidden-accessible {
    display: none;
}

.result {
    display: table-row;
}

.result-inner {
    display: table-cell;
    text-align: center;
    padding: 1em 0;
}

.result .num {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-right: 2em;
}

.viz {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 1em;
}

.tools {
    position: absolute;
    right: 0;
}

.save .icon {
    display: inline-block;
    vertical-align: middle;
    background: url('img/content-save.png') no-repeat;
    height: 24px;
    width: 24px;
}

/* TODO: positionings aren't going to be great cross-browsers
   Probably should change it to be two display-inline divs 
 */

.save div {
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 0.65em;
    font-weight: 600;
}

.save:hover {
    cursor: pointer;
}

